* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  /* background-color: tomato; */
}
main {
  font-family: 'Raleway', sans-serif;
  width: 80vw;
  margin: 0;
}
p{
  line-height: 1.4em;
}

.title {
  margin: auto;
  width: 90%;
  font-size: 24px;
}

.subtitle {
  margin: -10px auto;
  width: 75%;
  font-size: 12px;
  opacity: 0.8;
}

.text-body {
  font-size: 18px;
  margin: auto;
  width: 90%;
}

.quote {
  /* font-size: 12px; */
  font-style: italic;
  margin: -10px auto;
  width: 75%;
}

.image {
  background-color: lightgrey;
}

img {
  width: 100%;
  margin: auto;
}

.text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8px;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  body {
  }
  .title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 14px;
  }
  .text-body {
    font-size: 20px;
    width: 65%;
  }
  .text {
    width: 65%;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
  }
  .text-body {
    font-size: 20px;
    width: 50%;
  }
  .text {
    width: 50%;
    font-size: 14px;
  }
  .subtitle {
    width: 55%;
  }
  .quote {
    width: 55%;
    font-size: 18px;
  }
  .image {
    width: 70%;
    margin-left: 15%;
  }
}

@media only screen and (min-width: 1440px) {
  body {
  }
  .title {
    font-size: 36px;
    width: 75%;
  }
  .image {
    width: 60%;
    margin-left: 20%;
  }
}
