* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  background-color: tomato;
}
main {
  font-family: 'Raleway', sans-serif;
  width: 90vw;
  margin: 25px auto;
}
p{
  line-height: 1.4em;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', serif;
}
@media only screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
  main{
    width: 75vw;
    font-size: 24px;
  }
  h1{
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    background-color: whitesmoke;
  }
  main{
    width: 60vw;
    font-family: 'Playfair Display', serif;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
  }
}
@media only screen and (min-width: 1800px) {
  body {
    background-color: black;
    color: white;
  }
  main{
    width: 50vw;
  }
}
@media only screen and (min-width: 2400px) {
  body {
    background-color: purple;
    color: white;
  }
  main{
    width: 40vw;
  }
}
